<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
  	<%= render 'layouts/messages' %>
    <h1>Hello, my Agent!</h1>
    <p>Description here.</p>
    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span4">
      <h2>Interviewee</h2>
      <h4>Management</h4> 
      <p>Description here </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
    <div class="span4">
      <h2>Agent</h2>
      <h4>Management</h4> 
      <p>Description here. </p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
   </div>
    <div class="span4">
      <h2>Customer Relationship</h2>
      <h4>Management</h4> 
      <p>Description here.</p>
      <p><a class="btn" href="#">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; Company 2012</p>
  </footer>

  </div> <!-- /container -->
