<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Today: </li>
      <li class="active"><a href="#">Dashboard</a></li>
      <li class="nav-header">Interviewee: </li>
      <li><a href="/interviewees/new">Create New Interviewee</a></li>
      <li class="nav-header">Company: </li>
      <li><a href="/companies/new">Create New Company</a></li>
      <li class="nav-header">Schedule: </li>
      <li><a href="/schedules/new">Schedule An Interview:</a></li>
    </ul>
  </div><!--/.well -->
</div><!--/span-->